.traffic-light {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.traffic-light .bulb {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    opacity: 0.2;
}

.traffic-light .bulb.red {
    background-color: red;
}

.traffic-light .bulb.yellow {
    background-color: yellow;
}

.traffic-light .bulb.green {
    background-color: green;
}

.traffic-light .bulb.active {
    opacity: 1;
}
